* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**QUIENES SOMOS**/
.quienes-somos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  gap: 2rem;
  margin: 40px;
}
.quienes-somos .texto-quienes-somos {
  flex: 1;
  text-align: center;
  padding: 1rem;
  font-family: "Bebas";
}
.quienes-somos .div-mapa {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 70px;
}
.quienes-somos .mapa {
  width: 700px;
  height: 500px;
}

@media (max-width: 768px) {
  .quienes-somos {
    flex-direction: column;
    overflow-x: hidden;
    margin: auto;
  }
  .texto-quienes-somos,
  .div-mapa {
    flex: 1;
  }
  .mapa {
    width: 350px;
    height: 200px;
  }
}
.swing-in-top-fwd {
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
/**PROMOCIONES**/
.tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.precio {
  font-family: "Bebas";
  font-size: 1.5rem;
  text-decoration: line-through;
}

.descuento {
  font-family: "Bebas";
  font-size: 1.5rem;
}

/**PRODUCTOS**/
.tarjetas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.tarjetas .tarjeta {
  flex: 1;
  min-width: calc(25% - 20px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}
.tarjetas .tarjeta:hover {
  border-color: red;
}
.tarjetas .productos {
  max-width: 100%;
  height: auto;
}
.tarjetas .comprar-btn {
  background-color: black;
  color: #B10F2E;
  font-family: "Bebas";
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-top: 10px;
}
.tarjetas .comprar-btn:hover {
  border: 2px solid red;
  cursor: pointer;
}
.tarjetas .talles {
  display: flex;
  gap: 0.2rem;
}
.tarjetas .tarjeta-talle:hover {
  border: 2px solid red;
  cursor: pointer;
}
.tarjetas .tarjeta-talle {
  background-color: black;
  color: #B10F2E;
  font-family: "Bebas";
  font-size: 1.5rem;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .tarjetas {
    display: grid;
    grid-template-columns: 1fr;
  }
  .talles {
    width: 100%;
    height: auto;
  }
}
.slide-in-bottom {
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/**MAIN INDEX**/
.main-index {
  display: flex;
  justify-content: center;
}

/**HEADER**/
.body {
  background-color: rgb(61, 100, 214);
}
.body .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid;
  background: rgb(61, 100, 214);
  background: linear-gradient(0deg, rgb(61, 100, 214) 0%, rgb(177, 15, 46) 100%);
  padding: 0.5rem;
}
.body .nav-link:hover {
  color: white;
}
.body .menu-logo {
  transition: 1s;
}
.body .animacion-logo:hover {
  transform: scale(1.1);
}
.body .logo {
  width: 100px;
  height: auto;
}
.body .fotos-carrusel {
  width: 100%;
  height: auto;
}
.body .navbar-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: stretch;
  font-family: "Bebas";
  font-size: 1.2rem;
}
.body .menu-list > li:hover > a {
  color: white;
}
.body .nav-link {
  color: black;
}
.body .dropdown-menu {
  text-decoration: none;
  color: black;
}
.body .item-list {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 768px) {
  .body .navbar-nav {
    flex-direction: column;
  }
  .body .fotos-carrusel {
    width: 400px;
    height: 600px;
  }
  .body .puma {
    width: 300px;
    height: 600px;
  }
}

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue-Regular.ttf");
}
.img {
  width: 100%;
}

.h1 {
  display: flex;
  justify-content: center;
  font-family: "Bebas";
  font-size: 5rem;
}

.h2 {
  font-family: "Bebas";
  text-align: center;
}

.p {
  font-family: "Bebas";
  font-size: 1.5rem;
}

/**FORMULARIO**/
.formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.formulario .estilos-label {
  font-family: "Bebas";
  font-size: 2rem;
}
.formulario .comprar-boton {
  background-color: black;
  color: #B10F2E;
  font-family: "Bebas";
  font-size: 1.5rem;
  width: 500px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.formulario .form-control {
  width: 500px;
  height: 70px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
  outline: none;
}
.formulario .form-control:hover {
  border-color: red;
}
.formulario #exampleFormControlTextarea1 {
  width: 500px;
  height: 300px;
}
@media (max-width: 1465px) {
  .formulario .form-control {
    width: auto;
    height: auto;
  }
}
@media (max-width: 1465px) {
  .formulario .comprar-boton {
    width: 220px;
    height: auto;
  }
}
@media (max-width: 1465px) {
  .formulario #exampleFormControlTextarea1 {
    width: 220px;
    height: 88.67px;
  }
}

.slide-in-bottom {
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/**FOOTER**/
.footer {
  height: 50%;
  border-top: solid;
}
.footer .redes-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer .logos-redes {
  width: 100%;
  height: auto;
}
.footer .links-footer {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.footer .links-footer {
  border: 2px solid transparent;
  transition: border-color 0.3s;
}
.footer .links-footer:hover {
  border-color: red;
}/*# sourceMappingURL=estilos.css.map */