@font-face {
    font-family: "Bebas";
    src: url("../fonts/BebasNeue-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    width: 100%;
}

.h1 {
    display: flex;
    justify-content: center;
    font-family: "Bebas";
    font-size: 5rem;
}

.h2 {
    font-family: "Bebas";
    text-align: center;
}

.p {
    font-family: "Bebas";
    font-size: 1.5rem;
}


/**HEADER**/

.body {
    background-color:#BAB4B4;
}


.menu {
    background-color: #B10F2E;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;

   
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start; 
    align-items: stretch;
    font-family: "Bebas";
    font-size: 1.5rem;
    
    
}

.item-list {
    text-decoration: none;
    color: black;

}

@media (max-width: 1465px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
    }

    .menu-list {
        flex-direction: column;
        gap: 10px;
    }

    .h1, .h2 {
        text-align: center;
        margin: 5px 0;
    }
}

/**MAIN INDEX**/
.main-index {
    display: flex;
    justify-content: center;
}


/**FOOTER**/


.footer {
    background-color: #B10F2E;
    padding-bottom: 5rem;
    
}

.redes-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}


/**PRODUCTOS**/
.tarjetas {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 20px; 
}

.tarjeta {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    
}

.productos {
    max-width: 100%;
    height: auto;
}

.comprar-btn {
    background-color: black;
    color: #B10F2E;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
}

@media (max-width: 600px) {
    .tarjetas {
        grid-template-columns: 1fr;
    }
}

/**QUIENES SOMOS**/

.quienes-somos {
    display: flex;
    align-items: center;
    margin: 10rem;
}

/**FORMULARIO**/

