/**FOOTER**/


.footer {
    
    height: 50%;
    border-top: solid;
    

    .redes-footer {
        display: flex;
        justify-content: center;
        gap: 1rem;
    
    }

    .logos-redes {
        width: 100%;
        height: auto;
    }
    
    .links-footer {
        margin-bottom: 2rem;
        margin-top: 2rem;
        
    }
    
    .links-footer {
    border: 2px solid transparent; 
    transition: border-color 0.3s; 
    }

    .links-footer:hover {
    border-color: #fcbf49; 
    }

    }