/**HEADER**/

  
.body {
    background-color:rgb(61, 100, 214,1);


    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid;
        background: rgb(61,100,214);
        background: linear-gradient(0deg, rgba(61,100,214,1) 0%, rgba(177,15,46,1) 100%);
        padding: 0.5rem;
        
    }

    .nav-link:hover {
        color: white; 
      }
      
     

    .menu-logo {
        transition: 1s;
    }

    .animacion-logo:hover {
        transform: scale(1.1);
    }

    .logo {
        width: 100px;
        height: auto;

    }

    .fotos-carrusel {
        width: 100%;
        height: auto;
    }

    .navbar-nav {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: start; 
        align-items: stretch;
        font-family: $fuentePrincipal;
        font-size: 1.2rem;    
    }

    .menu-list > li:hover > a {
        color: white; 
    }
    
    .nav-link {
        color: black;
    }

    .dropdown-menu {
        text-decoration: none;
        color: black;
    }
    
    .item-list {
        text-decoration: none;
        color: black;
    
    }

    

    
    @media screen and (max-width: 768px) {
        .navbar-nav {
            flex-direction: column;
        }
        

        .fotos-carrusel {
            width: 400px;
            height: 600px;
        }

        .puma {
            width: 300px;
            height: 600px;
        }
    }
}

